<%- include('partials/header.html') %>


<section class="noticia">
    <div class="center">
        <div class="noticia-single">
            <!--<h2>Dez principais habilidades para se tornar um desenvolvedor full-stack em 2023</h2>-->
            <h2><%= noticia.titulo %></h2>
            <div class="autor-nome">
                <!--<span>Por André Gomes</span>-->
                <span>Por <%= noticia.autor %></span>
            </div>
            <br/>
            <div><img style="max-width: 100%;" src="<%= noticia.imagem %>" /></div>
            <br/>
            
            <!--<p>Ser um desenvolvedor full-stack é abraçar a versatilidade no vasto universo da programação.</p>
            <%= noticia.conteudo %> pra exibir tag html tem que colocar um traço (-) ex:<%- noticia.conteudo %> -->
            <%- noticia.conteudo %>
        </div>
        <div class="mais-lidas">
            <h3>Mais Lidas</h3>
            <div class="mais-lidas-noticias">
                <% for(let i = 0; i < postsTop.length; i++) { %>
                    <div class="mais-lida-noticia-single">
                        <img src="<%= postsTop[i].imagem %>" />
                        <div class="texto-mais-lida-single">
                            <h4><%= postsTop[i].titulo %></h4>
                            <p><%- postsTop[i].descricaoCurta %>... - <span style="font-size: 12px;font-weight: bold;">(<%= postsTop[i].views %> views)</span></p>
                            <a href="<%= postsTop[i].slug %>">Saiba mais</a>
                        </div>
                    </div>
                    <% } %>
                <!--<div class="mais-lida-noticia-single">
                    <img src="/public/images/natureza_small.png" />
                    <div class="texto-mais-lida-single">
                        <h4>Natureza</h4>
                        <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                        <a href="/encarar-o-surf">Saiba mais</a>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</section>


<%- include('partials/footer.html') %>

</body>
</html>